*{margin: 0;padding: 0;}

.table{
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

.rowFirst{
    background-color: #4267b2;
}

.cart{
    margin-left: 70.5%;
    margin-top: 5%;
}

img.imageCash {
    width: 50px;
    height: 65px;
}