*{margin: 0; padding: 0;}

.control {
    width: 650px;
    display: flex;
}

#map {
    width: 650px;
    height: 300px;
    /* margin-bottom: 11px; */
    margin-top: -50px;
}

#instructions {
    height: 26px;
}

#showmap {
    padding: 10px;
    background-color: #dc3545;
    border-radius: 7px;
    cursor: pointer;
    font-family: segoe ui;
    font-size: 15px;
    color: white;
    font-weight: 600;
    margin-top: -15px;
}

h3.distance {
    color: #272727;
    margin: 0 0 13px 0;
    font-weight: 500;
    line-height: 0;
    font-size: 15px;
    margin-left: 50px;
    font-family: 'Quicksand', sans-serif;
}