
@{
    ViewBag.Title = "Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-6  left">
                    <div class="text">
                        <h2 >Đăng Nhập</h2>
                        <h2 style="color:red">@ViewBag.message</h2>
                    </div>
                </div>

                <div class="col-lg-6  right">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            <a href="@Url.Action("ForgetPass", "LogIn")">
                                <p>Quên Mật Khẩu</p>
                            </a>
                        </div>
                        <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                        <button type="submit" class="btn btn-warning">
                            @Html.ActionLink("Đăng Ký", "Register", "LogIn",null, new { @class = "btn"})
                        </button>
                    }

                </div>
            </div>
        </div>
    </article>
